@import "../../styles/vairable.scss";

.header {
  overflow: hidden;
  position: relative;

  .bckImg {
    position: absolute;
    inset: 0;
    z-index: 1;
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.6),
        rgba(0, 0, 0, 0.2)
      );
      pointer-events: none;
      z-index: 2;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }
  }
}

.top {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1010;
  padding: 10px;
  background: #00000059;
  backdrop-filter: blur(18px);
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background: #00000059;
  backdrop-filter: blur(18px);
  border-top: 1px solid #ffffff7d;
  border-bottom: 1px solid #ffffff7d;
  padding: 6px 0;
  height: auto;

  .menu {
    @include flex($direction: row, $align: center, $justify: space-between);

    .links {
      display: flex;
      gap: 32px;

      a {
        font-family: $inter;
        font-size: 16px;
        color: $whiteTxt;
        transition: opacity 0.2s;
        border-bottom: 2px solid transparent;
        transition: cubic-bezier(0.55, 0.055, 0.675, 0.19);
        position: relative;
        &::after {
          content: "";
          position: absolute;
          left: 0;
          bottom: 0;
          height: 2px;
          width: 0%;
          background-color: $border-color;
          transition: width 0.3s ease-in-out;
        }
        &:hover::after {
          width: 100%;
        }
      }
    }

    .icons {
      display: flex;
      align-items: center;
      gap: 16px;
    }

    .toggleMenu {
      display: none;
    }

    @media (max-width: 1024px) {
      padding: 0 24px;

      .toggleMenu {
        display: inline-flex;
      }
      .links {
        display: none;
      }
    }
  }
  .mobileMenu {
    display: none;
  }

  @media (max-width: 1024px) {
    .mobileMenu {
      display: none;
      height: 100dvh;
      position: fixed;
      inset: 0;
      z-index: 1001;
      top: 0;
      margin-top: 80px;
      background: $mainBlueBack;
      color: $whiteTxt;
      padding: 32px 40px;
      overflow-y: auto;
      gap: 20px;

      .closeBtn {
        position: absolute;
        top: 24px;
        left: 24px;
        background: transparent;
      }
      &.active {
        display: block;
      }
      @media (min-width: 769px) {
        .fRight {
          float: right;
        }
        .fLeft {
          float: left;
        }
      }
      @media (max-width: 1024px) {
        .drawerColumns {
          flex: 1;

          a {
            display: block;
            margin: 24px 0;
            font-family: $inter;
            font-size: 18px;
            font-weight: 600;
            color: $whiteTxt;
          }
        }
      }
    }
  }
}

.reserve {
  position: absolute;
  inset: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 5;
  // display: flex;
  // flex-direction: column;
  // justify-content: center;

  @include flex($direction: column, $align: start, $justify: center);

  @media (min-width: 1024px) {
    justify-content: flex-end;

    padding: 0 7% 0;
  }

  .reserveTitle {
    font-family: $inter;
    font-size: clamp(24px, 4vw, 56px);
    font-weight: 400;
    color: $whiteTxt;
    max-width: 700px;
    line-height: 1.15;
    padding: 0 10px;
  }
  span {
    padding: 0 10px;
  }
  .arrow {
    margin-top: 24px;
  }
  .reserveCard {
    margin-top: 48px;
    max-width: 980px;
    width: 100%;
  }
}
