.header {
  height: 100vh;
  .nav {
    background-color: var(--mainBtnBack);
    border: 1px solid #ffffff7d;
    backdrop-filter: blur(18.9px);
    padding: 10px;
    .menu {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 2px 42px 2px 64px;
      gap: 352px;
    }
  }
}
