@import "../../styles/variable.scss";

.detail {
  margin-top: 10%;

  @media (max-width: 768px) {
    margin-top: 30%;
  }

  padding: 0 15px;
  color: $mainBlueBack;
  font-family: $inter;
  font-weight: 400;
  h1 {
    font-size: 60px;

    @media (min-width: $tablet-breakpoint) {
      font-size: 96px;
    }
  }
  h2 {
    font-size: 34px;
    text-align: center;
    color: #000;
  }
  p {
    font-family: $inter;
    font-size: 20px;
    color: #000;
    @media (min-width: $tablet-breakpoint) {
      font-size: 34px;
    }
  }
  .top {
    margin-bottom: 20px;
    h1 {
      width: 100%;
      text-align: start;
    }
    p {
      width: 100%;
      text-align: end;
      font-size: 24px;

      @media (min-width: $tablet-breakpoint) {
        font-size: 48px;
      }
    }
  }
  .main {
    width: inherit;
  }
  img {
    width: 100%;
    height: auto;
    object-fit: cover;
    margin: 50px auto;
    padding: 0 10px;
    // @media (min-width: $tablet-breakpoint) {
    //   // max-width: 880px;
    //   // max-height: 500px;
    //   object-fit: cover;
    // }
  }

  .centerText {
    margin: 20px auto;
    text-align: center;
  }
  .dFlex {
    @include flex($direction: row, $align: center, $justify: space-between);

    gap: 10px;
    p {
      font-size: 20px;
    }
    @media (max-width: $tablet-breakpoint) {
      p {
        flex: 1;
        @media (max-width: $mobile-breakpoint) {
          font-size: 14px;
        }
      }
      button {
        flex: 2;
      }
    }
  }

  .reserveBtn {
    width: 100%;
    z-index: 1;
    margin: 15px 0;
    padding: 10px 0;
    font-family: $inter;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    color: $blackTxt;
    position: relative;

    border-bottom: 1px solid $blueTxt;
    border-top: 1px solid $blueTxt;
    cursor: pointer;
    overflow: hidden;
    z-index: 1;
    transition: color 0.3s ease;
    &::before,
    &::after {
      content: "";
      display: block;
      width: 100%;
      height: 1px;
      background: $blueTxt;
      position: absolute;
      left: 0;
      width: 100%;
      height: 50%;
      z-index: -1;
      transition: transform 0.4s ease;
    }
    &:before {
      top: 0;
      transform: translateY(-100%);
    }
    &:after {
      bottom: 0;
      transform: translateY(100%);
    }
    &:hover::before,
    &:hover::after {
      transform: translateY(0);
    }

    &:hover {
      color: white;
    }
  }

  .pricesByOccupancies {
    @include flex($direction: row, $align: center, $justify: center);
    gap: 10px;
    li {
      padding: 10px;
      transition: all 0.3s;
      span {
        display: block;
        text-align: center;
        padding: 20px;
        color: #fff;
        margin: 5px auto;
        cursor: pointer;
        border: 1px solid;
        &:first-of-type {
          background: $blueTxt;
        }
        &:last-of-type {
          background: $mainBlueBack;
        }
      }
      &:hover {
        span {
          background: transparent;
          color: #000;
          border: 1px solid $mainBlueBack;
        }
      }
    }
  }

  .images {
    display: flex;
    img {
      margin: 0;
      padding: 0;
    }
    gap: 10px;
    margin: 20px 0;

    @media (max-width: $mobile-breakpoint) {
      flex-direction: column;
    }

    .rightSide {
      flex: 1;
      display: flex;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .lefttSide {
      flex: 1;
      @include flex(
        $direction: column,
        $align: stretch,
        $justify: space-between
      );

      .imageWithText {
        display: flex;
        flex: 1;
        gap: 10px;
        margin: 0 0 10px 0;
        @media (max-width: $tablet-breakpoint) {
          flex-direction: column;
        }
        img {
          width: 40%;
          height: 100%;
          object-fit: cover;
          @media (max-width: $tablet-breakpoint) {
            width: 100%;
          }
        }

        .text {
          width: 60%;
          @media (max-width: $tablet-breakpoint) {
            width: 100%;
          }
          height: 100%;
          box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
          padding: 0 12px;

          p {
            font-size: 16px;
          }
        }
      }

      > div:last-child {
        flex: 1;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
  .equipments {
    width: 95%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.25);
    border: 1px solid #16375c69;
    padding: 20px 15px;
    margin: 10px auto;
  }
  .video {
    position: relative;

    p {
      position: absolute;
      top: 30px;
      left: 30px;
      display: block;
      z-index: 100;
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 34px;
      text-align: center;
      color: #fff;
      @media (max-width: $mobile-breakpoint) {
        font-size: 20px;
      }
    }
  }
}
