@import "../../styles/vairable.scss";

.reserveCard {
  background-image: url("/reservBg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 12px;
  padding: 20px 0;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
  position: relative;
  z-index: 2;

  .inputBox {
    position: relative;
    flex: 1;

    @media (min-width: 1024px) {
      // flex: 1;
      width: 30%;
    }
  }

  .boxTitle {
    font-family: $inter;
    font-weight: 700;
    font-size: 18px;
    color: $blueTxt;
    margin-bottom: 8px;
  }

  .trigger {
    width: 160px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $blueTxt;
    padding-bottom: 6px;
    background: transparent;
    color: $blueTxt;
    cursor: pointer;
  }
  .maniBox {
    padding: 0 28px;
  }
  .dropdownCard {
    position: absolute;
    max-width: 60%;
    @media (min-width: 1024px) {
      max-width: 100%;
    }
    bottom: 100%;
    left: 0;
    margin-bottom: 10px;
    z-index: 100;
    background: red;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    overflow: hidden;
  }

  .reserveBtn {
    align-self: flex-end;
    z-index: 1;
    margin: 0 14px;
    padding: 10px 0;
    &::before,
    &::after {
      content: "";
      display: block;
      width: 90%;
      margin: 0 auto;
      height: 1px;
      background: $blueTxt;
      @media (min-width: 1024px) {
        width: 150px;
      }
    }
  }

  @media (max-width: 1024px) {
    flex-direction: column;
    align-items: stretch;

    .dropdownCard {
      position: absolute;
      bottom: 0;
      margin-top: 10%;
      width: 100%;
    }

    .trigger {
      width: 100%;
    }

    .reserveBtn {
      width: 100%;
      margin-top: 10px;
    }
  }
}
