@import "@/styles/vairable";
.languageDropdown {
  position: relative;
  z-index: 1020;
}

.toggleButton {
  color: $whiteTxt;
  font-family: $poppins;
  font-weight: 400;
  font-size: 12px;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  .reverse {
    transform: rotate(180deg);
    transition: transform 0.5s;
  }
  span {
    margin: 0 5px;
  }
}

.dropdownMenu {
  position: absolute;
  top: 110%;
  left: -10px;
  background-color: $mainBlueBack;
  color: $whiteTxt;
  min-width: 100px;
  z-index: 1000;

  li {
    cursor: pointer;
    transition: background 0.2s;
    font-family: $inter;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: $whiteTxt;
    padding: 10px;
    text-align: center;
    border-left: 5px solid transparent;
    z-index: 100;
    &:hover {
      background-color: $btnColor;
      border-left: 5px solid #fff;
    }
  }
}
