@import "@/styles/vairable.scss";

.sidebar {
  background: $mainBlueBack;
  max-width: 100%;
  height: 100vh;
  padding-top: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  img {
    margin: auto;
  }

  .after {
    width: 100%;
    &::after {
      content: "";
      display: block;
      width: 100%;
      height: 1px;
      background: $greyTxt;
    }
  }
  .menu {
    a {
      display: block;
      color: $whiteTxt;
      margin: 10px;
    }
  }
}
