@import "../../styles/vairable.scss";

.card {
  @media (min-width: 768px) {
    height: 550px;
  }
  font-family: $inter;
  display: flex;
  flex-direction: column;
  // align-items: center;
  // text-align: center;
  // background: #f7f7f7;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 16px;
  box-sizing: border-box;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  &:hover {
    transform: scale(1.05);
  }
  img {
    width: 100%;
    @media (min-width: 768px) {
      max-width: 320px;
      height: 320px;
    }
    max-height: 450px;
    object-fit: cover;
    border-radius: 8px;
  }

  h2 {
    font-weight: 700;
    font-size: 24px;
    color: $blackTxt;
    margin: 12px 0 8px;
  }
  .icon span {
    margin: 0 10px;
  }
  p {
    font-weight: 600;
    font-size: 20px;
    color: #000000a6;
    line-height: 1.4;
    text-align: start;
  }
  .price{
    font-size: 16px;
    margin: 10px 0;
  }
}

.reserveBtn {
  width: 100%;

  z-index: 1;
  margin: 15px 0;
  padding: 10px 0;
  font-family: $inter;
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  color: $blackTxt;
  &::before,
  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background: $blueTxt;
  }
}

.roomGrid {
  margin-top: 10%;
  @media (max-width: 768px) {
    margin-top: 20%;
  }

  .roomCard {
    background-color: #fcf4e8;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    gap: 10px;
    padding: 10px;
    margin: 20px 0;

    .image {
      flex: 1;
      display: flex;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
      }
    }

    .desc {
      flex: 2;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .images {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: space-between;
        align-items: center;

        img {
          width: 100%;
          max-width: 30%;
          flex: 1 1 30%;
          object-fit: cover;
        }
      }
    }

    &:nth-child(odd) {
      flex-direction: row-reverse;
    }

    @media (max-width: 768px) {
      flex-direction: column !important;

      .image {
        width: 100%;
        img {
          width: 100%;
          height: auto;
        }
      }
    }
  }

  h2 {
    font-family: $inter;
    font-weight: 600;
    font-size: 34px;
    color: blackTxt;

    @media (max-width: 768px) {
      font-size: 20px;
    }
  }

  p {
    font-family: $inter;
    font-weight: 400;
    font-size: 20px;
    color: blackTxt;
    margin: 10px 0;
    @media (max-width: 768px) {
      font-size: 14px;
    }
  }
}
