@import "../../styles//variable.scss";

 

.banner {
  @include flex($direction: column, $align: center, $justify: center);
  width: 100%;
  padding: 20px;
  box-sizing: border-box;

  .item {
    max-width: 800px;
    width: 100%;
    height: 200px;
    @include flex($direction: row, $align: stretch, $justify: space-between);
    // background-color: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    position: relative;
    z-index: 1;

    .left {
      background: $mainBlueBack;
      color: #fff;
      width: 250px;
      height: 100%;
      // clip-path: polygon(0 0, 50% 0, 100% 100%, 0 100%);
      @include flex($direction: column, $align: center, $justify: center);
      position: relative;
      z-index: 2;

      // &::after {
      //   content: "";
      //   position: absolute;
      //   top: 0;
      //   left: 0;
      //   width: 100%;
      //   height: 100%;

      //   background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='139' height='216' viewBox='0 0 139 216' fill='none'><path d='M0.547745 0.034668L119.992 214.275C126.043 214.275 132.225 215.146 138.302 215.146C128.702 198.782 119.618 182.087 110.402 165.505C80.5931 111.893 50.9412 58.1584 20.5482 4.86815L19.7286 0.034668C13.3466 0.0433769 6.92104 0.034668 0.547745 0.034668Z' fill='%23D4D4D4'/></svg>");
      //   background-repeat: no-repeat;
      //   background-size: cover;
      //   background-position: right center;
      //   overflow: visible;
      //   transform: translateX(75px);
      //   z-index: 999;
      //   pointer-events: none;
      // }

      p {
        margin: 0;
        font: 400 34px $inter;
        white-space: nowrap;

        &.offer {
          font-size: 38px;
          font-weight: bold;
        }

        &.text {
          font-size: 26px;
        }

        @media (max-width: 998px) {
          font-size: 20px;
          &.offer {
            font-size: 24px;
          }
          &.text {
            font-size: 18px;
          }
        }
      }
    }

    .mainContentArea {
      width: calc(100% - 250px);
      height: 100%;
      @include flex(
        $direction: column,
        $align: stretch,
        $justify: space-between
      );
      box-sizing: border-box;
      padding: 0;
      position: relative;
      z-index: 3;

      .center {
        flex-grow: 1;
        padding: 10px;
        @include flex($direction: column, $align: center, $justify: center);
        text-align: center;

        h2 {
          font-family: $inter;
          font-weight: 400;
          font-size: 30px;
          color: $mainBlueBack;
          margin-bottom: 5px;

          @media (max-width: 998px) {
            font-size: 22px;
          }
        }

        p {
          font-family: $inter;
          font-weight: 700;
          font-size: 22px;
          color: $mainBlueBack;
          line-height: 1.3;

          @media (max-width: 998px) {
            font-size: 18px;
          }
        }
      }

      .rightDiagonal {
        width: 100%;
        height: 60px;
        background: $accentBlue;
        // clip-path: polygon(0 0, 100% 0, 100% 100%, 15% 100%);
        @include flex($direction: row, $align: center, $justify: space-between);
        position: relative;

        // &::after {
        //   content: "";
        //   position: absolute;
        //   inset: 0;
        //   clip-path: polygon(0 0, 100% 0, 100% 100%, 15% 100%);
        //   background: rgba(0, 0, 0, 0.15);
        //   filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.3));
        //   z-index: -1;
        // }

        > .global-reserveBtn-class {
          width: 50%;
          box-sizing: border-box;
          text-align: center;
          background-color: transparent;
          border: none;
          color: #fff;
          font-size: 18px;
          font-weight: bold;
          cursor: pointer;
        }

        .logoPlaceholder {
          background: $mainBlueBack;
          height: 100%;
          width: 50%;
          @include flex($direction: row, $align: center, $justify: center);
          position: relative;
          // clip-path: polygon(15% 0, 100% 0, 100% 100%, 0 100%);
          z-index: 1;

          // &::after {
          //   content: "";
          //   position: absolute;
          //   top: 0;
          //   left: 0;
          //   width: 100%;
          //   height: 100%;
          //   clip-path: polygon(15% 0, 100% 0, 100% 100%, 0 100%);
          //   background: rgba(0, 0, 0, 0.15);
          //   filter: blur(4px);
          //   z-index: -1;
          // }
        }
      }
    }
  }
}

.logoPlaceholder img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  padding: 5px;
}
