@import "../../styles/vairable.scss";
.wrapper {
  @include flex($direction: row, $align: center, $justify: space-between);
  margin: 0 20px;
  width: 100%;

  color: #fff;
  font-family: $inter;
  font-weight: 400;
  font-size: 14px;

  a {
    padding: 15px 40px;
    background: #2f3c4b;
    border-radius: 12px;
    font-size: 14px;
  }
}
