@import "../../styles/variable.scss";

.imageWithText {
  margin-top: 10%;
  margin-bottom: 7%;

  @media (max-width: 768px) {
    margin-top: 20%;
  }
  @media (max-width: 500px) {
    margin-top: 30%;
  }
  position: relative;
  img {
    width: 100%;
    min-height: 500px;
    max-height: 800px;
  }
  .text {
    position: absolute;
    bottom: 10px;
    left: 15px;
    backdrop-filter: blur(43.20000076293945px);
    background: rgba(255, 255, 255, 0.01);
    border: 1px solid rgba(255, 255, 255, 0.01);
    padding: 10px;
    width: 80%;
    p {
      font-family: $inter;
      font-weight: 400;
      font-size: 20px;
      color: #16375c;
      @media (max-width: 768px) {
        font-size: 14px;
      }
    }
  }
}
