.wrapper {
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 8px;
  background: white;
}

.selected {
  background: #00aaff !important;
  color: white !important;
  border-radius: 50%;
}

.inRange {
  background: rgba(0, 170, 255, 0.3) !important;
}
