@import "../../styles/variable.scss";

.wrapper {
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  max-width: 700px;
  margin: auto;
  font-family: $inter;
  font-size: 20px;
  font-weight: 400;
  font-size: 16px;
  font-weight: bold;
  color: $greyTxt;
  .header {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid $greyTxt;
    div {
      padding: 10px 0;
      span {
        margin: 0 5px;
      }
    }
  }

  .calendars {
    .customCalendarWrapper {
      max-width: 100%;
      border-radius: 8px;
      overflow: hidden;

      .customNavigation {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 0;
        margin-bottom: 10px;
        font-size: 16px;
        font-weight: bold;

        .navButton {
          cursor: pointer;
          font-size: 14px;
          flex-shrink: 0;
        }

        .navLabel {
          flex-grow: 1;
          text-align: center;
          padding: 0 10px;
          font-size: 16px;
          font-weight: bold;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        .placeholderButton {
          min-width: 80px;
          visibility: hidden;
        }
      }

      .calendar {
        width: 100%;
        border: none !important;
        font-size: 14px;

        .react-calendar__navigation {
          display: none !important;
        }

        .react-calendar__month-view__weekdays {
          display: flex;
          justify-content: space-around;
          text-align: center;
          font-weight: bold;
          font-size: 12px;
          color: #777;
          margin-bottom: 5px;

          abbr {
            text-decoration: none;
          }
        }

        .react-calendar__month-view__days {
          display: grid;
          grid-template-columns: repeat(7, 1fr);
          gap: 5px;
        }

        .react-calendar__tile {
          padding: 10px 0;
          text-align: center;
          border-radius: 4px;
          cursor: pointer;
          color: #333;
          border-radius: 50%;

          &--now {
            background-color: $mainBlueBack;
            font-weight: bold;
          }

          &--active {
            background-color: $mainBlueBack !important;
            color: #fff !important;
          }

          &--rangeStart,
          &--rangeEnd {
            background-color: $mainBlueBack !important;
            color: #fff !important;
            border-radius: 4px;
          }

          &--range {
            background-color: $greyTxt !important;
            color: #333;
            border-radius: 0;
          }
        }
      }
    }

    .selected {
      background-color: $btnColor !important;
      color: #fff !important;
    }

    .inRange {
      background-color: #e6f7ff !important;
      color: #333 !important;
    }

    @media (max-width: 1023px) {
      .calendars {
        flex-direction: column;
        align-items: center;
      }

      .customCalendarWrapper {
        max-width: 100%;

        .customNavigation {
          .navButton {
            display: block;
          }
          .placeholderButton {
            display: none;
          }
        }
      }
    }

    @media (min-width: 1024px) {
      .customCalendarWrapper {
        .customNavigation {
          .navButton {
            display: none;
          }
          .placeholderButton {
            display: block;
          }
        }

        &:first-child {
          .customNavigation {
            .navButton:first-of-type {
              display: block;
            }
            .placeholderButton:last-of-type {
              display: block;
            }
          }
        }

        &:last-child {
          .customNavigation {
            .placeholderButton:first-of-type {
              display: block;
            }
            .navButton:last-of-type {
              display: block;
            }
          }
        }
      }
    }
  }
}
