@import "../../styles/variable.scss";

.loaderWrapper {
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  // align-items: center;
  @include flex($direction: column, $align: center, $justify: center);

  height: 100vh;
  background: #f9f7f2;
}

.spinner {
  width: 60px;
  height: 60px;
  border: 8px solid #f9f7f2;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

.text {
  margin-top: 20px;
  font-size: 18px;
  color: #333;
  font-family: sans-serif;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
