@import "../../styles/variable.scss";

.roomCard {
  padding: 10px;
  background: $whiteTxt;
  border-radius: 6px;
  color: $blueTxt;
  font-family: $inter;
  font-size: 16px;
  font-weight: 400;
  width: 250px;
  @media (max-width: 768px) {
    width: 100%;
  }
  .cardTitle {
    font-weight: 700;
    color: $blueTxt;
  }
  .counter {
    // display: flex;
    // justify-content: space-between;
    // align-items: center;
    @include flex($direction: row, $align: center, $justify: space-between);

    margin: 10px 0;
    p {
      font-family: $inter;
      font-weight: 400;
      font-size: 14px;
    }
  }
  .btnBox {
    // display: flex;
    // justify-content: space-between;
    // align-items: center;
    @include flex($direction: row, $align: center, $justify: space-between);

    .counterBtn {
      margin: 10px;
      border: 2px solid $blueTxt;
      border-radius: 50%;
      width: 20px;
      height: 20px;
      max-width: 30px;
      max-height: 30px;
      // display: flex;
      // justify-content: center;
      // align-items: center;
      @include flex($direction: row, $align: center, $justify: center);
    }
  }
  .leftEndBtn {
    // display: flex;
    // justify-content: end;
    // flex-direction: column;
    // align-items: end;
    @include flex($direction: column, $align: end, $justify: end);
    font-family: $inter;
    font-weight: 400;
    font-size: 12px;
    .more {
      line-height: 133%;
      color: $linkColor;
      margin: 10px;
    }
    .submit {
      background: $mainBlueBack;
      border-radius: 16px;
      color: $whiteTxt;
      padding: 5px 15px;
    }
  }
}
