@import "./styles/vairable.scss";

.about {
  margin-top: 7%;

  @media (max-width: 768px) {
    margin-top: 30%;
  }
  .title {
    text-align: center;
    margin: 10px 0;
  }

  font-family: $inter;
  font-weight: 400;
  color: #000;

  p {
    font-size: 34px;
  }
  h2 {
    font-size: 60px;
  }
  @media (max-width: 768px) {
    p {
      font-size: 20px;
    }
    h2 {
      font-size: 34px;
    }
  }

  .mainContent {
    margin: 15px 0;
    .imageBox {
      float: right;
      width: 70%;
      @media (max-width: 768px) {
        float: initial;
        width: 100%;
        max-width: 600px;
        margin: 10px auto;
      }
    }

    img {
      width: 100%;
      margin: 0 auto;
      height: auto;
      object-fit: cover;
      order: 1;
    }
    p {
      order: 2;
      text-align: justify;
    }
    @media (min-width: 768px) {
      flex-direction: row;
      justify-content: space-between;
      align-items: start;
      p {
        order: 1;
        text-align: initial;
      }
      img {
        width: 60%;
        order: 2;
      }
    }
  }

  .galary {
    display: grid;
    gap: 16px;
    padding: 10px;

    grid-template-columns: repeat(2, 1fr);

    img {
      width: 100%;
      height: auto;
      display: block;
      object-fit: cover;
    }
  }
}
