@import "./vairable";

@mixin respond($breakpoint) {
  @if $breakpoint == tablet {
    @media (max-width: #{$tablet-breakpoint}) {
      @content;
    }
  } @else if $breakpoint == mobile {
    @media (max-width: #{$mobile-breakpoint}) {
      @content;
    }
  }
}

.container {
  width: 100%;
  max-width: $container-desktop;
  margin: 0 auto;
  padding: 0 16px;

  @include respond(tablet) {
    max-width: $container-tablet;
  }

  @include respond(mobile) {
    max-width: 100%;
    padding: 0 12px;
  }
}

/* calendar override styles */
.rdrCalendarWrapper {
  background-color: white;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
}

.rdrMonthAndYearWrapper {
  display: none; /* Ay və il başlığını gizlət */
}

.rdrWeekDay {
  color: #003366;
  font-weight: 600;
}

.rdrDayToday .rdrDayNumber span {
  border: 1px solid #00aaff;
  border-radius: 50%;
}

.rdrDaySelected,
.rdrDayStartPreview,
.rdrDayEndPreview {
  background-color: #00aaff !important;
  color: white !important;
}
