@import "./variable.scss";

@mixin respond($breakpoint) {
  @if $breakpoint == tablet {
    @media (max-width: #{$tablet-breakpoint}) {
      @content;
    }
  } @else if $breakpoint == mobile {
    @media (max-width: #{$mobile-breakpoint}) {
      @content;
    }
  }
}

.container {
  width: 100%;
  max-width: $container-desktop;
  margin: 0 auto;
  position: relative;

  div {
    padding: 0 5px;
  }

  @include respond(tablet) {
    max-width: $container-tablet;
    padding: 0;
  }

  @include respond(mobile) {
    max-width: 100%;
    padding: 0;
  }
}

.reserveBtn {
  width: 100%;

  z-index: 1;
  margin: 15px 0;
  padding: 10px 0;
  font-family: $inter;
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  color: $blackTxt;
  &::before,
  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background: $blueTxt;
  }
}

.drawerIcons {
  width: 100%;
  margin: 40px auto 0;
  @include flex($direction: row, $align: center, $justify: center);

  gap: 24px;

  a svg {
    width: 20px;
    height: 20px;
  }
}

.drawerIcons :global(svg) {
  border: 1px solid #fff;
  border-radius: 50%;
  padding: 8px;
  width: 16px;
  height: 16px;
  box-sizing: content-box;
}

.mapContainer {
  max-width: 100%;
  height: 400px;
  margin: auto;
  margin-bottom: 10px;
  iframe {
    width: 100%;
    height: 100%;
    border: none;
  }
}
.medical {
  font-family: v$inter;
  font-weight: 600;
  font-size: 34px;
  color: #000;
  text-align: center;
  @media (max-width: 1024px) {
    font-size: 24px;
  }
  @media (max-width: 768px) {
    font-size: 20px;
  }
}

.form {
  @include flex($align: center, $justify: center);

  gap: 10px;
  height: 100vh;
  img {
    width: 70%;
    margin: 0 10px;
  }
  input {
    margin: 15px 0;
  }

  .submitBtn {
    background-color: $mainBlueBack;
    color: $whiteTxt;
    font-weight: 600;
    padding: 14px 25px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease, transform 0.1s ease;
    width: 100%;

    &:hover {
      background-color: darken($primary-color, 8%);
    }

    &:active {
      transform: translateY(1px);
    }
  }
}

.fixedBtns {
  position: fixed;
  bottom: 40px;
  right: 20px;
  z-index: 1010;
  @include flex($direction: column, $align: stretch, $justify: flex-start);
  .fixedBtn {
    width: 60px;
    height: 60px;
    margin: 10px auto;
    text-align: center;
    padding: 20px;
    background: $blueTxt;
    border-radius: 50%;
    svg path {
      fill: #fff;
    }
  }
}
