@import "./vairable.scss";
.about {
  margin: 20px 0;
  div {
    @media (min-width: 768px) {
      display: flex;
    }
    margin-bottom: 20px;
  }

  .desc {
    color: $blackTxt;
    font-family: $inter;
    font-weight: 400;
    font-size: 48px;
    @media (max-width: 1024px) {
      font-size: 24px;
    }
    @media (max-width: 768px) {
      font-size: 20px;
    }
  }
}

.rooms {
  @media (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    height: auto;
    gap: 15px;
  }

  margin: 10px 0;
  padding: 0 10px;
  text-align: center;
  

  img {
    width: 100%;
    @media (max-width: 768px) {
      margin: 10px auto;
    }
    object-fit: cover;
    display: block;
  }
}
