*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  line-height: 1.5;
  background: #f9f7f2;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

img,
picture,
video {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
}
