//colors
// background
$mainBlueBack: #2f3c4b;
$btnColor: #084587;
//text
$whiteTxt: #fff;

// fontFamily

$inter: "Inter", sans-serif;
$sans: "Work Sans", sans-serif;
$poppins: "Poppins", sans-serif; 


// :root {
//   --font-family: "Inter", sans-serif;
//   --second-family: "Work Sans", sans-serif;
//   --third-family: "Poppins", sans-serif;
// }

$desktop-breakpoint: 1140px;
$tablet-breakpoint: 1024px;
$mobile-breakpoint: 768px;

$container-desktop: 1310px;
$container-tablet: 879px;